*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
/npc/*
!/npc/vsrc/
!/npc/csrc/
!/npc/bin/
!/npc/Makefile
!/npc/README.md
!Makefile
!README.md
!.gitignore
!init.sh
/nvboard
/fceux-am
/am-kernels
/yosys-sta
/rt-thread-am
/ysyxSoC
/*.swp
